[2016-08-30 11:11] nishinair123 opened #38 "not calling retreive and rank when i type the question How do I turn on cruise control"
The app is not calling RnR when I type the question

But I can rank and view the answer in the service.
Could you help to debug?

[2016-09-07 22:33] MunGell opened #39 "Bot sends back `CEPayload` even when it understood the input"
After once asking bot something it does not know it will always show list of findings instead of real answer.

*Steps to reproduce*:

0. Open demo page: http://conversation-enhanced.mybluemix.net/
1. say `switch off the lights` (works as expected)
2. say `how are things?` (works as expected - bot does not know the answer and shows some random articles that mention "things")
3. say `switch lights o

[2016-09-09 18:32] dgterry commented on #39
Thank you for reporting this.  The problem was when Conversation set the call_retrieve_and_rank flag to true, to indicate that the app should call R&R for an answer, the app never reset it to false for subsequent calls.  So no matter what happened once we got in that state the app would call R&R.  This has been fixed.  The app now sets the flag to false before making any call to Conversation and o

[2016-09-09 18:32] #39 closed

[2016-09-11 04:03] germanattanasio commented on #38
Seems to be working for me. <img width="875" alt="screen shot 2016-09-10 at 9 02 41 pm" src="https://cloud.githubusercontent.com/assets/313157/18415067/f160f76c-7799-11e6-908d-a38200086c88.png">

[2016-09-11 04:03] #38 closed

[2016-10-31 19:42] sayurimizuguchi opened #42 "Conversation"
Hello,
if i dont use the  Retrieve and Rank services to use Watson, which files have to use?

Thanks.

[2016-10-31 20:13] dgterry commented on #42
Hello,
Are you simply wanting to use the app for Conversation only? If so you can essentially comment out the if block starting here: https://github.com/watson-developer-cloud/conversation-enhanced/blob/master/src/main/java/com/ibm/watson/apis/conversation_enhanced/rest/ProxyResource.java#L125
that will force the app to never call R&R and always return the Conversation response.

You might be inte

[2016-11-01 12:45] sayurimizuguchi opened #43 "Error"
Hello,
I can not find where places workspace_id and displays this error when I run

Error:WORKSPACE_ID not set
See steps on Github for adding an environment variable

[2016-11-01 12:56] #42 closed

[2016-11-01 13:08] sayurimizuguchi commented on #43
i cant find environment variable for insert workspace_id

[2016-11-01 13:22] sayurimizuguchi commented on #43
In the logs:
App/0[WARNING ] SRVE0190E: File not found: /dist/locale/pt.json

when i open the project, the navigator show me " SRVE0190E: File not found: /dist/locale/pt.json"
where I put this file? or it already exists? I not found within the project, or I have to edit the existing (.json) within the folder?

[2016-11-01 15:11] dgterry commented on #43
Hello,

It sounds like there are two problems here? I would think we would want to address the WORKSPACE_ID one first.  I assume you are getting that when you start the app? If so you need to set the WORKSPACE_ID.  Are you running the application in bluemix or locally?
If bluemix see: https://github.com/watson-developer-cloud/conversation-enhanced#adding-environment-variables-in-bluemix
If locally

[2016-11-01 16:07] sayurimizuguchi commented on #43
I try in bluemix application, not locally.
And I import the project and when I run app, show me error: Error: "WORKSPACE_ID not set
See steps on Github for adding an environment variable"
I see this but i dont find the "enviroment variable" for insert the workspace_id.

if i want modify the workspace id for my ibmbluemix create conversation, in this case, what do I do?

[2016-11-01 18:35] dgterry commented on #43
Okay great, the first thing you will want to do is get the WORKSPACE_ID from the Conversation tooling.  Here are a few steps to do that: https://github.com/watson-developer-cloud/conversation-enhanced#import-a-workspace
you can ignore steps 3 & 4 as you aren't importing a workspace.  I'd focus mostly on the screenshots in this section which will show you how to get the workspace id once you are in

[2016-11-01 18:41] sayurimizuguchi commented on #43
Hi, great, I saw an update of its "readme.md" a girl. And it worked.
open my file :dancing_men: .

But now show me the error: file not found /locale/pt.json and repeat the primary message...
I did file (pt.json) and put together the (en.json) for testing, but it has this error.
It has something to do with changing the server language?

[2016-11-01 18:42] sayurimizuguchi commented on #43
The update: https://github.com/watson-developer-cloud/conversation-enhanced/pull/44

[2016-11-01 19:28] sayurimizuguchi commented on #43
![errorptjson](https://cloud.githubusercontent.com/assets/23122214/19904129/92a14ba4-a058-11e6-87c3-d2d9436de471.PNG)

[2016-11-02 15:44] dgterry commented on #43
Hi, yes I believe the application was created with support for other languages but that only English strings were provided. Looks like you changed the language to Portuguese? I believe that is making the app look for a pt.json containing translated versions of the strings located in en.json. I wonder if you could simply copy the en.json to pt.json and see if that helps.  Perhaps you were saying yo

[2016-11-03 11:02] sayurimizuguchi commented on #43
hello David, good morning.
So in this case you're talking to edit the file and en.json translate? Or create another file? Because I tried to create another file translating everything that is in en.json and put in the same folder, only it did not work. I will perform some tests while I await your response. Thank you for everything!

[2016-11-03 11:11] sayurimizuguchi commented on #43
Obs.: The application runs even with the error, perfectly.

[2016-11-03 11:15] sayurimizuguchi commented on #43
David, if I try execute locally, but i dont want use the rank-service, just the conversation in webpage, I reconfigured or i delete what?

I'm sorry for the english, i'm from Brazil - PT-br.

[2016-11-03 13:43] sayurimizuguchi commented on #43
Locally:

I execute the grap .bat, didn't work.
I download in the https://services.gradle.org/distributions the file  "gradle-2.14.1-bin.zip" and ok.
I save
I try execute locally but i dont find archive conversation-enhanced-0.1-SNAPSHOT.war in the conversation-enhanced/build/libs/ folder.
there is not even the folder "build" in conversation-enhanced

I copy the server.env with the informations fr

[2016-11-03 14:38] dgterry commented on #43
Hi! If you just want Conversation the easiest way to do that is to probably look at this repo instead: https://github.com/watson-developer-cloud/conversation-simple as it is built using only the Conversation service.  However, I understand if you want to continue to use this one because you have already invested effort or perhaps because you prefer Java.

If you want to disable R&R in this app I b

[2016-11-03 15:22] sayurimizuguchi commented on #43
Thanks David for the informations.
But, in the conversation-simple i can modify and validate informations if user write incorret? example: CPF xxx.xxx.xxx-xx

And yes, I prefer java, hehe.. but it's not so important if i can use the watson in webpage corretly just with javascript+html of course.

I do your option with "cd" command in Windows and before showed me:
![gradlwbatexecutecmd](https://clo

[2016-11-03 16:05] dgterry commented on #43
Hello,

I'm not sure I understand your question regarding the conversation-simple app.  Could you possibly rephrase it?

As for the build error it looks like it can't download the gradle zip it needs to perform the build.  Could that potentially be a firewall issue?

I also think it would help if you could
cd into the C:\Users\marcia.martins\Desktop\Wattester and run the `gradlew.bat build` while

[2016-11-03 18:09] sayurimizuguchi commented on #43
Example, I want use watson just for conversation and if the "user" write corretly it (watson) returns the correct answer

I got it (install gradlew.bat) and i copy the (.war) to the liberty (i paste the liberty inside the project Wattester),
Steps i got:

1 Git clone the project https://github.com/watson-developer-cloud/conversation-enhanced

2 Navigate to the conversation-enhanced folder

3 For W

[2016-11-03 18:14] sayurimizuguchi commented on #43
![wattesterimagemeforegrandel](https://cloud.githubusercontent.com/assets/23122214/19979156/9df3bb66-a1e0-11e6-9fed-db95e8367c4d.JPG)

[2016-11-03 18:53] dgterry commented on #43
Hello,
So both this app and the https://github.com/watson-developer-cloud/conversation-simple use the Conversation service to answer questions. The only difference, besides this app being written in Java and the simple app being written in node, is that this enhanced app will send questions to R&R if Conversation is not able to provide a meaningful answer. So it sounds like the simple conversation

[2016-11-03 19:17] sayurimizuguchi commented on #43
Exactly, I can not run server Liberty, show me the error "go to Hube git" when I run the application in netbeans. How do I run the server locally liberty?

[2016-11-03 19:20] sayurimizuguchi commented on #43
![error](https://cloud.githubusercontent.com/assets/23122214/19981616/cca8a256-a1e9-11e6-9aa6-9aedd352581a.JPG)

[2016-11-03 19:24] sayurimizuguchi commented on #43
I will try use the conversation simple, but I want use this conversaion-enhanced because i will use java :\

[2016-11-03 19:57] dgterry commented on #43
Sure, just mentioned conversation-simple as another possible option for you.  I understand if you wish to use this app.  For now maybe it is easiest to run liberty standalone, outside of an IDE like netbeans or eclipse.  Can you see if this helps you:
1. Goto https://developer.ibm.com/wasdev/downloads/liberty-profile-using-non-eclipse-environments/
2. Click the download button in the middle of the

[2016-11-04 11:24] sayurimizuguchi commented on #43
Good morning Davi, i do this. But presents me error now.

I have to run the command gradlew.bat within the defaultserver folder?

I do your steps and presents me:
![error](https://cloud.githubusercontent.com/assets/23122214/20003945/6dbe1e10-a270-11e6-8c33-bc97a4b8d6e1.JPG)

[2016-11-04 11:25] sayurimizuguchi commented on #43
Obs.: I'm trying to open a conversation that I made with my credentials Watson username and password

[2016-11-04 11:26] sayurimizuguchi commented on #43
and I set the server.env with the correct credentials, but it seems to have set in SetupThread, I tried to do this by saving the information, but there have to put the password and username rank and Service or Conversation?

[2016-11-04 12:08] sayurimizuguchi commented on #43
Sorry Davi, the problem it was a proxy... now shows the error by Workspace_id
I'll try to fix...

[2016-11-04 12:15] sayurimizuguchi commented on #43
It seems that when I run the server run, it resets the configuration of the conversation in server.env I put

[2016-11-04 12:34] sayurimizuguchi commented on #43
I paste the server.env with the informations corretly of mine conversation, but when I run the command "server run" the server.env I tagged along, resets the settings made in it the correct information

C:\Users\marcia.martins\Desktop\wlp\usr\servers\defaultServer\apps\expanded\conversation-enhanced-0.1-SNAPSHOT.war\WEB-INF\classes = server.env (resets automatically)

[2016-11-04 14:57] sayurimizuguchi commented on #43
Hello Davi, thanks. I do all the things, but if I execute Server run, ok, but when I open the page, shows me the error: Workspace_id

![workspaceid](https://cloud.githubusercontent.com/assets/23122214/20010134/2b3bcdc6-a28e-11e6-99fa-1a4b2513dd31.JPG)

And the messages in server - wlp:
![error](https://cloud.githubusercontent.com/assets/23122214/20010164/3c4fde86-a28e-11e6-8e5b-581a1eac91dd.JPG)

[2016-11-04 15:01] sayurimizuguchi commented on #43
Obs.: I put the information within the server.env as requested. follow print
![serverenv](https://cloud.githubusercontent.com/assets/23122214/20010330/d529605a-a28e-11e6-995b-02362f6f1ad0.JPG)

[2016-11-04 16:16] sayurimizuguchi commented on #43
Hi Davi,
I can run locally. But I wonder how that node is to keep what is typing in a id "node_1_1477578976409" because I want to know a way to treat the information that Watson understands.

Example:
I digite: I want pizza pepperoni. = "node_1_1477578976409"

I want save the information in one variable to run any script... You can help me?

[2016-11-04 16:34] mitchmason commented on #43
node ids are generated by the service automatically. You really don't need to do anything with them in your app. Its not advised becuase there is no easy way to know which node has which node id. The best way to use nodes to do a script is to set a context flag on the dialog node that your app is listening for.
Something like this:
"context": {
"topping": @topping,
"size": @size,
"callDB": true
}

[2016-11-04 17:00] Topping commented on #43
I fail to see how I'm relevant here - But thanks for the mention @mitchmason.

[2016-11-04 21:15] mitchmason commented on #43
hahaha sorry, didnt realize you were a person. was just showing how he could write an entity for a pizza topping in conversation service.

[2016-11-07 09:07] flyingroach opened #46 "Always call R&R API false"
Hello, Thanks for your sharing the code and i could enable to deploy with my own conversation locally.
I have a issue to call R&R API
Whatever, i input i am not enable call the API Rertive and Rank, which always return false.
I have setup the rankID,Cluster ID etc to the server.env file, but it not works.
If someone could tell me what to do to call my R&R API with my own conversation?

Thanks so m

[2016-11-08 16:22] dgterry commented on #43
Going to close this one as the app is now running locally.  Conversation questions can be directed to the forums: https://developer.ibm.com/answers/index.html

[2016-11-08 16:22] #43 closed

[2016-11-08 16:30] dgterry commented on #46
Hello,
It sounds like you are wondering how you can have your own conversation workspace tell the app when to call R&R?

The way we do it in this app is to set a flag called call_retrieve_and_rank to true in the conversation workspace's dialog nodes. For example here is one of the dialog node's in this app

[code]

The app then looks for the flag and calls R&R if it exists and is set to true.  See

[2016-11-09 07:32] flyingroach commented on #46
Well, Thanks Dave.  That is the point i want ask. Thank you!
I just thought i need to replace some of my R&R source like file4.json,training.csv etc.
So,just need  the conversation's node got the input of flag is true and then the R&R API.query will implement of my owner R&R ?

[2016-11-10 16:25] sayurimizuguchi commented on #43
Hi Davi,
Today i try execute locally after edit the conversation in my bluemix, and, when I execute the command "server run" in /wlp/bin, and try to open the localhost in the browser, it presents the error that is in the print:

![error](https://cloud.githubusercontent.com/assets/23122214/20184963/8061d3dc-a751-11e6-9fc2-fc1e77491510.JPG)

You can help me please?

[2016-11-10 16:29] sayurimizuguchi commented on #43
Is there any way I can execute only by netbeans with the project files? Even after you have modified some classes and the conversation?

[2016-11-11 03:24] henry921630 opened #47 "Error 404:java.io.FileNotFoundException: SRVE0190E: File not found......"
Hi, I got this error message as this pic: http://imgur.com/a/JaRqF
I don't know what this means. How can I solve it?

I can just ignore this error message and the Conversation still works well. But when Retrieve and Rank be triggered, there will be  just a loading icon without any response until I enter next message.

This error occurs both on http://conversation-enhanced.mybluemix.net/ and my own

[2016-11-11 17:39] sayurimizuguchi opened #48 "Error"
Hi Davi,
Today i try execute locally after edit the conversation in my bluemix, and, when I execute the command "server run" in /wlp/bin, and try to open the localhost in the browser, it presents the error that is in the print:

![erro server ri](https://cloud.githubusercontent.com/assets/23122214/20224303/f6df30ee-a824-11e6-8f11-b66c17f97622.JPG)

[2016-11-11 17:55] dgterry commented on #48
Hello,
Could this potentially be a firewall issue? gateway.watsonplatform.net maps to 158.85.132.88 and it appears to be a connection problem to that IP. I believe you mentioned you had a proxy in place before? Perhaps an issue with that?

[2016-11-11 17:59] sayurimizuguchi commented on #48
Exactly, Davi, thank you.
I did a test accessing the site and gave a proxy error, I requested that it be released.
At home it works normally.
I am wanting to build a similar application, any tips?
Can I use your project as a help?

[2016-11-11 18:21] dgterry commented on #46
`So,just need the conversation's node got the input of flag is true and then the R&R API.query will implement of my owner R&R ?` that's essentially all you need to do in your conversational dialog nodes to tell the app to call R&R.  The rest would be in the app itself, setting the appropriate environment variables so that the application knows which services to call, and possibly making some small

[2016-11-11 19:20] sayurimizuguchi commented on #48
I'm trying to run the project with some modified files, with eclipse, and it gives me this error:
![errorpageeclipse](https://cloud.githubusercontent.com/assets/23122214/20227340/2ade1a3c-a833-11e6-9096-ab89eb9b586b.JPG)

[2016-11-11 19:21] sayurimizuguchi commented on #48
I'm trying to run the project with some modified files, with eclipse, and it gives me this error:
![errorpageeclipse](https://cloud.githubusercontent.com/assets/23122214/20227407/5025b19c-a833-11e6-96e2-4c3d77fe28cf.JPG)

[2016-11-11 20:28] ashleylord8 commented on #47
@henry921630

Hi, we feel that this issue is occurring because the language set in your browser is non-English. In the meantime as we try to solve this issue, you could fix it for yourself by providing a translated zh.json file under the folder, `conversation-enhanced/src/main/webapp/locale` (or just copy the english one, `en.json`, in there as a `zh.json` file), or setting your browser language t

[2016-11-14 08:19] flyingroach commented on #46
Thanks Dave. and I know how to use the flag. It is very clear.
I am not succeed to see what i want because i have no a trained Rank ID which need too many questions to train. Every time i tried to use the collection or the Rank-ID the server will be  down.
It is very well for me to have a test if i could use the rank ID =untrained retrieve service.
I think your method will work when i finished a t

[2016-11-14 12:07] sayurimizuguchi opened #49 "Proxy configure"
Hi Davi, good morning.

![erro barramento proxy](https://cloud.githubusercontent.com/assets/23122214/20264255/bf130e4a-aa51-11e6-837e-930b7ca87c98.JPG)

Where can I enter my proxy data?
Because they had to free me for general access to the internet instead of going through the proxy, I would like to know where I can add the settings.

[2016-11-14 15:17] dgterry commented on #46
Hello,
It is possible to use the R&R service without the ranker.  The tricky thing is that the app expects it to be there. You could potentially disable its use of the ranker.  One area to start looking in would be
https://github.com/watson-developer-cloud/conversation-enhanced/blob/master/src/main/java/com/ibm/watson/apis/conversation_enhanced/retrieve_and_rank/Query.java#L116
you could comment o

[2016-11-14 15:22] dgterry commented on #49
hello,

I would recommend you ask this question here: https://developer.ibm.com/answers/topics/watson-conversation/

It might be that you just need to specify a different endpoint URL so that the Conversation object you create here: https://github.com/watson-developer-cloud/conversation-enhanced/blob/master/src/main/java/com/ibm/watson/apis/conversation_enhanced/rest/ProxyResource.java#L111
sends

[2016-11-14 15:22] #49 closed

[2016-11-15 03:52] flyingroach commented on #46
Hello Dave.I will try.  Thank you for your help!

[2016-11-15 03:52] #46 closed

[2016-11-16 13:18] #48 closed

[2016-11-18 18:47] sayurimizuguchi opened #52 "Remove the window "Watson Understand""
Hi Davi,
I want to know how remove the window Watson understand.
Thanks

[2016-11-21 02:46] piraveenp opened #53 "Formatting of detailed content from RnR"
Hi,
Could I please request a new feature?
Could I kindly ask for the appearance of the **detailed content from RnR** within the conversation enhanced app to match the formatting from within the RnR tool. e.g. headings, spacing, italics to b present?

Thanks in advance.

[2016-11-22 11:50] ReeceMed opened #54 "Deploy to bluemix"
Hi,

I am interested in creating a similar deploy to bluemix button for the watson conversation simple version. However i am running into issue with creating the services, do you have any information on how i can achieve this?

[2016-11-25 12:24] Twanawebtech opened #55 "Is there a blog post about this?"
Are you planning to blog about this? the demo is good and I love it...

[2016-11-28 17:20] dgterry commented on #55
Thanks very much for the kind words! @mitchmason any thoughts on this?

[2016-11-28 17:27] mitchmason commented on #55
This demo was released at the same time the service went GA, it is a very powerful interaction to have both short tail and long tail like this, but I think at this point we will not release another blog about this demo specifically at this time. As we make enhancements and hcanges to things we will be sure to blog about them on the watson blog.

[2016-11-29 18:05] dgterry commented on #54
Hello,

The button is essentially a URL instructing bluemix where to find the application code. For example, I just used this URL to deploy the simple application: https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/conversation-simple

once it completes you can click view app and it should load up.  You will need to follow the instructions about setting a WORKSPACE_ID

[2016-11-30 16:51] dgterry commented on #47
resolving, this should be fixed by https://github.com/watson-developer-cloud/conversation-enhanced/pull/56

[2016-11-30 16:51] #47 closed

[2016-12-02 15:39] #55 closed

[2016-12-02 15:39] germanattanasio commented on #54
I'm closing this since an answer was already provided

[2016-12-02 15:39] #54 closed

[2016-12-05 16:02] #52 closed

[2017-02-03 08:51] chandrachood opened #60 "Build fails while trying to deploy on blue mix"
I could deploy this App when Blue mix was on DEA , Now after it moved to Diego when I try to deploy it again it was showing the following error .

Download http://repo1.maven.org/maven2/xalan/xalan/2.6.0/xalan-2.6.0.jar
Download http://repo1.maven.org/maven2/com/ibm/icu/icu4j/2.6.1/icu4j-2.6.1.jar
:findbugsMain FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed f

[2017-02-03 15:27] germanattanasio commented on #60
I'm working on this.

[2017-02-08 22:23] monte-hayward opened #62 "WORKSPACE_ID not recognized"
I'm running the add-discovery branch. my apologies if it's not ready to tinker with.

WORKSPACE_ID is set in environment variables via console
and set in server.env prior to `cf push`

App loads until it tries to GET /rest/setup
`{"setup_status_message":"Testing Service Credentials","setup_step":"0","setup_state":"not_ready","setup_phase":"Error: WORKSPACE_ID not set","setup_message":"Please check

[2017-02-08 22:44] germanattanasio commented on #62
Can you try to add the environment variable with `cf set-env <app-name> WORKSPACE_ID <value>`. I think we also renamed it to be `CONVERSATION_WORKSPACE_ID`

[2017-02-09 17:48] monte-hayward commented on #62
I'm new to gradle and liberty.

I set both WORKSPACE_ID and CONVERSATION_WORKSPACE_ID from the command line. Oddly, CONVERSATION_WORKSPACE_ID was not reflected in the gui console. Added it there, too.
Same result message for /rest/setup.

- do I need a particular value in `JBP_CONFIG_LIBERTY`?
- 3 tests fail upon build, though the WAR file is created. Output below.

[code]

[2017-02-09 20:32] victorzhao1990 commented on #62
One lines missed from the SetupResource.java. I've added them to the file and all test cases passed.

Before:
[code]

After:
[code]

[2017-02-10 12:06] daytonaconversion opened #63 "Build Fails during deployment"
Build fails when I deploy as-is. I did deploy it few days back and it worked successfully. Did some one change the code?

[2017-02-10 21:52] monte-hayward commented on #62
thanks, @victorzhao1990

this fixed the build issue. At runtime, I get a NullPointerException from line 65 of SetupResource.java

`config.get(Constants.SETUP_STEP).getAsInt() == 3`

[2017-02-16 04:33] #60 closed

[2017-02-16 04:34] germanattanasio commented on #63
It should work now

[2017-02-16 04:34] #63 closed

[2017-02-16 04:34] germanattanasio commented on #62
We found the problem. You need to set the environment variable when running in Bluemix

```cf se <app-name> WORKSPACE_ID <value>```

[2017-02-16 04:34] #62 closed

[2017-02-16 04:35] germanattanasio commented on #53
We remove RnR from the sample

[2017-02-16 04:35] #53 closed

[2017-03-07 13:05] alexandru-anastasopol opened #69 "Discovery service returns no results for long-tail questions sent from Conversation service"
Hello,

I have run into an issue - Discovery service not returning results for long-tail questions.

After deploying this application on Bluemix, following the delpoyment instructions, the answer for "How do I check my tire pressure" is "That question is out of scope for this application, take a look at the Conversation Enhanced application to handle questions like these.", which is not expected.

[2017-03-10 02:36] renderit opened #70 "Embedding into html"
Hey great work here! Wanted to ask about embedding into an html page. I have a dialog setup and running on watson. In this repository, have you created the frontend UI yourself, and then calling the services via REST?

[2017-03-13 15:46] ddacosta79 commented on #69
I have exactly the same issue.
Did you find the cause?

David

[2017-03-14 08:40] alexandru-anastasopol commented on #69
Hi David,

I found the cause:
The actual query sent to Discovery service is: "searchText:\<user query\>, enrichedText:\<userQuery\>"
see the project code: at `DiscoveryQuery.query(String userQuery)` at lines:
[code]
Executing that exact query directly on the Discovery service will not return any results either. For some reason the "enrichedText" field is not added to the processed JSON collection.

[2017-03-16 19:24] mitchmason commented on #70
Yes, thats exactly whats happening. The app code also orchestrates the calls between conversation and discovery.
You could take this UI and embed it as an iframe, or create your own chat widget and use the API directly.

[2017-03-16 19:24] #70 closed

[2017-03-16 19:27] mitchmason commented on #69
If your docs are not well trained, or the question gets extremely low confidence returned, discovery will not send any results, thus none will be showed. we should write additional code to handle that scenario.
other htan that, looks like Alex found the issue already.

[2017-03-16 19:27] #69 closed

[2017-03-16 19:28] mitchmason opened #75 "add case to handle low confidence/no results from discovery"
currently, if discovery is giving back poor results, it returns an empty array i think, need to update this to at least give a message to user saying no results found or something like that.

[2017-03-22 20:31] benjamincjacob opened #76 "I am getting an error importing the workspace.json to conversation. Unable to parse input"

[2017-03-22 20:39] benjamincjacob commented on #76
The previous version will import without error.

[2017-03-27 07:19] vnordin opened #78 "wrong service names in manifest.yml"
I just forked this project by using the "deploy to bluemix"-button and noticed that the Deploy-stage failed since it wasn't able to bind the services. The services that are automatically created are named "conversation-service" and "discovery-service" but in the manifest.yml they are named "my-conversation-service" and "my-discovery-service", so I had to rename them to make it work.

[2017-03-27 20:28] germanattanasio commented on #78
Nice point @vnordin I don't know how this happened.

@stevenpkg Can you please fix the `README.md` and `manifest.yml` so that we create and use the same services?

[2017-03-27 23:43] stevenpkg commented on #78
Yes pipeline.yml was creating conversation-service and discovery-service, have changes manifest.yml to have the same naming

[2017-03-28 03:07] #78 closed

[2017-03-28 03:08] germanattanasio commented on #76
@stevenpkg this is the same problem as with `conversation-simple`. I think we should add a test case to make sure we doesn't submit changes using a non-working `workspace.json`

[2017-03-28 03:24] stevenpkg commented on #76
@germanattanasio yes will look at .gitattributes and see about putting a test case in

[2017-03-29 14:57] cenyuzhang opened #83 "Getting TLS related error"
Hi, after going through all the steps, I am getting the TLS related error in the Bluemix log. Please let me know how this issue can be fixed:

-----
14:55:28.092 [Default Executor-thread-8] ERROR com.ibm.watson.apis.conversation_with_discovery.rest.ProxyResource - Exception on Query:java.net.UnknownServiceException: Unable to find acceptable protocols. isFallback=false, modes=[ConnectionSpec(ciphe

[2017-03-29 16:09] jennysalgado commented on #83
Hi @stevenpkg  would you mind taking a look at this?

[2017-03-30 02:37] lee-zhg opened #84 "does not search in collection"
When submitting "How do I check my tire pressure?", the reply was "That question is out of scope for this application, take a look at the Conversation Enhanced application to handle questions like these."

Discovery service was configured per instruction. Run app locally.

[2017-03-30 04:31] lee-zhg commented on #84
In manual_0.json, if I copy sourceUrl

http://www.fordservicecontent.com/Ford_Content/vdirsnet/OwnerManual/Home/Content?bookCode=O28450&amp;languageCode=en&amp;marketCode=US&amp;viewTech=IE&amp;chapterTitleSelected=G1508561&amp;subTitleSelected=G1508566&amp;topicHRef=G1467680&amp;div=f&amp;vFilteringEnabled=True

and paste it to a browser, should I see Ford manual?

I got the following error tonig

[2017-03-30 17:08] lee-zhg commented on #84
Sorry, missed step

Download and unzip the manualdocs.zip in this repo to reveal a set of JSON documents

In the tooling interface, drag and drop (or browse and select) all of the JSON files into the "Add data to this collection" box

[2017-03-30 17:08] #84 closed

[2017-05-11 23:24] Oliver-I commented on #75
@stevenpkg This will need to be added in your code, unfortunately the workspace doesn't handle/display the Discovery result.

[2017-05-12 19:32] pgoldweic opened #90 "could you please add instructions to run in a different servlet container?"
I'd like to try this application but running under the Tomcat servlet container. Would be great to see instructions on how to do that (or, non-container specific instructions of how to run the war file as a web application in any container).

[2017-05-14 23:08] dollj opened #91 "custom config instructions"
In the custom.config instructions, under the Normalize section, the fields "body_enriched.keywords.text" and "body_enriched.concepts.text" may need to be changed to fields: "enriched_body.keywords.text" and "enriched_body.concepts.text" (the latter fields are supplied in the dropdown menu).

[2017-05-15 02:17] stevenpkg commented on #75
Good idea, will implement

[2017-05-18 03:02] stevenpkg commented on #75
have implemented this now, see pull request #92

[2017-05-18 03:03] #75 closed

[2017-05-18 03:04] stevenpkg commented on #91
will look into this, thank you

[2017-05-18 03:06] stevenpkg commented on #90
We do not want to make things to complex, the main thing is to understand Conversation and Discovery services. If anyone out there has time to get this running with Tomcat, please share.

[2017-05-18 03:07] #90 closed

[2017-05-26 17:30] 619 commented on #69
Might you suggest an actual solution?

[2017-05-26 18:11] Bobbbby opened #93 "Can someone kindly suggest a solution to Resolved issue #69?"
The author of the issue only mentioned the cause, and no solution. In addition, the code he mentioned at `DiscoveryQuery.query(String userQuery)` should be:

[code]

but is different...

Unless I am mistaken, this is what it looks like now:

[code]

I'm still experiencing this issue, but when I enter "How do I check my tire pressure" my CEPayload looks like:

[code]
Instead of `"CEPayload": []`

E

[2017-06-05 23:12] MarkusWals opened #94 "Urgent! Please Help! App not working properly in Bluemix: GENERIC_ERROR ("Service seems to be down.Please try again after sometime or Please check the logs.") after deployment"
We need to have this App running for a Business Opportunity this Week, but after deploying the App in Bluemix and setting all the Environment Variables i run into some strange Problems:

The App is online and i am able to load the Webpage

The App returns as Messages:
"This Watson app shows how the Conversation service calls on Discovery to find answers when it's not sure how to respond. Try testi

[2017-06-06 01:06] mitchmason commented on #94
Can you send a screenshot? That can also help pinpoint where the error is occuring.

[2017-06-06 01:44] mitchmason commented on #94
also, have you run this app previously? I would look at this similar sounding issue:
https://github.com/watson-developer-cloud/java-sdk/issues/603

[2017-06-06 01:47] mitchmason commented on #94
@stevenpkg can you check and make sure the dependency is updated in the source code?

[2017-06-06 01:55] stevenpkg commented on #94
will take a look now

[2017-06-06 09:26] MarkusWals commented on #94
I have not run this app before, but i have been working with
conversation-enhanced with retrieve and rank previously

[2017-06-06 09:26] MarkusWals commented on #94
Thank you for your timely response, here are some Screenshots of the app
and my bluemix environment:

[2017-06-06 11:01] MarkusWals commented on #94
<img width="808" alt="screen shot 2017-06-06 at 11 05 46" src="https://cloud.githubusercontent.com/assets/21184097/26826068/eb78e55c-4ab7-11e7-8563-df0fa147b2b2.png">
<img width="804" alt="screen shot 2017-06-06 at 11 07 37" src="https://cloud.githubusercontent.com/assets/21184097/26826070/ee0a800a-4ab7-11e7-9c28-8279f52571ee.png">
<img width="806" alt="screen shot 2017-06-06 at 11 03 45" src="htt

[2017-06-06 11:01] MarkusWals commented on #94
![screen shot 2017-06-06 at 11](https://cloud.githubusercontent.com/assets/21184097/26826142/4516c0d4-4ab8-11e7-9d44-fd542ef58a08.png)

[2017-06-06 11:01] #94 closed

[2017-06-06 15:01] mitchmason commented on #94
its our code, steve will be updating this to use the correct java version in the next couple days.

[2017-06-08 04:27] stevenpkg commented on #94
This should be fix now with latest fix #96

[2017-06-08 12:05] MarkusWals commented on #94
I will attempt to deploy the app to Bluemix right now andinform you about the status

[2017-06-14 18:50] cvsanchez42 opened #97 "Incorrect curl command"
https://github.com/watson-developer-cloud/conversation-with-discovery/blob/master/custom_config/config_instructions.md#set-up-a-custom-configuration-with-the-discovery-api

In the terminal command:
-There is an invalid quote character, and quotes are missing.
- -data should be --data
- not sure if all the arguments are laid out correctly

[2017-06-14 22:16] Oliver-I commented on #93
@stevenpkg I believe you put a fix in for this issue, where the Discovery service doesn't return a result?

[2017-06-14 23:00] stevenpkg commented on #93
Yes if no result is returned from conversation or discovery services, a message is displayed "Sorry I haven't learned answers to questions like this"

[2017-06-15 16:09] dpowell1 commented on #49
How do we use the ProxyResource to configure the proxy? Does ProxyResource take in the command line arguments from the JVM or do we have to manually set the host, port, etc. in ProxyResource?

FYI, the link changed to <https://github.com/watson-developer-cloud/conversation-with-discovery/blob/master/src/main/java/com/ibm/watson/apis/conversation_with_discovery/rest/ProxyResource.java>

[2017-06-16 07:20] AnushiAgarwal commented on #94
Hi,

Even i am facing the similar issue.
Any immediate help will be highly appreciated!!!

Thanks

[2017-06-16 14:09] mitchmason commented on #94
@AnushiAgarwal the code has been updated, can you share any details about what you are seeing? as this issue has been resolved already.

[2017-06-16 15:41] dpowell1 opened #98 "Importing Conversation workspace from JSON throws error"
When I try to import the JSON file [here](https://github.com/watson-developer-cloud/conversation-with-discovery/blob/master/src/main/resources/workspace.json), it throws an error in Bluemix: Cannot import workspace with tabs, newlines, carriage returns, or slashes. Please update your JSON file so that it can be imported.

[2017-06-16 15:48] mitchmason commented on #98
which json file? the sample we offer? are  you changing it in anyway?

[2017-06-16 15:51] dpowell1 commented on #98
Yes, the one you offer, called "workspace.json" under /src/main/resources. I haven't changed anything in the file. I tried to upload the workspace.json file from your repo into my Conversation instance, and it gave me the above error.

[2017-06-16 15:58] dpowell1 commented on #98
![importerror](https://user-images.githubusercontent.com/29413261/27234446-16b03272-528b-11e7-8d8a-4d947177719a.jpeg)

[2017-06-16 17:09] dpowell1 commented on #98
Were you able to replicate the error?

[2017-06-16 22:03] jrzam92 opened #99 "Error when i compile the project"
Hi i m using the project but  when i compile the project with the command in the console show this:
[code]
I suppose that I need to install I new version of those packages but is with the command `npm install` ?

[2017-06-20 14:18] MWals commented on #94
I will deploy it once again and keep you informed about the status

[2017-06-21 06:17] AnushiAgarwal commented on #94
Hi ,
After making the same code changes ,i am still receiving the same error.
I am deploying it using the bluemix command line tool , and only changing the JAVA files that are mentioned above.
Is there anything that i am missing ?

[2017-06-21 22:28] stevenpkg commented on #94
Can you share the errors you are seeing, give more detail of changes you are making in the code and cloudfoundry commands and errors

[2017-07-03 15:28] mjpradeep commented on #94
hi,

I am also facing the same issue now, i have fixed this issue 3 weeks back using latest fix #96 but now again i am getting same issue.

[2017-07-04 01:40] stevenpkg commented on #94
Not sure what your problem is, I downloaded and build locally, all worked?

[2017-07-04 05:31] mjpradeep commented on #94
When we are calling discovery service i am getting "Service seems to be down. Please try again after sometime or Please check the logs" , conversation is working properly.

[2017-07-04 05:53] mjpradeep commented on #94
this is the error i am getting in Logs,

[ERROR ] SRVE0777E: Exception thrown by application class 'com.ibm.watson.apis.conversation_with_discovery.rest.ProxyResource.postMessage:192'

[2017-07-17 12:10] FaySyedAli opened #101 "Issues with location, day of the week, and sequences"
Hi, this is Fay from the E&D team. We were trying the ASK and had the issues below. It looks like NLU is pulling the location correctly- can the Conversation team look into this?

_The app doesnt work for Pittsburgh. I get an error message consistently of "we couldnt reach the weather company now". Can you please check?
Also, the day of the week doesnt seem to work (Fails consistently for Wednesda

[2017-07-18 18:47] huikang opened #102 "Compile error"
I use the gradle docker image to compile the application. The following are the error I got. Can anyone offer some help? Thanks.

[1] https://hub.docker.com/_/gradle/

[code]

[2017-07-18 19:19] huikang commented on #102
The build also failed using the official websphere liberty image [2]

[2]  https://hub.docker.com/_/websphere-liberty/

[code]

[2017-07-20 00:57] stevenpkg commented on #102
Not quite sure what your problem is here, can you clone or download and build localy

[2017-07-20 00:59] stevenpkg commented on #101
I think you have the wrong app, conversation with discovery dose not use NLP or check the weather?

[2017-07-20 01:00] stevenpkg commented on #98
@Oliver-I could you advise on this

[2017-07-20 01:02] Oliver-I commented on #98
@dpowell1 Are you downloading the repository as a zip file and then extracting the JSON, or are you downloading only the JSON file from the repository in your browser?

[2017-07-20 01:04] huikang commented on #102
After applying [this change ](https://github.com/watson-developer-cloud/conversation-with-discovery/pull/103), the program can be compiled with locally.

[2017-07-20 01:11] stevenpkg commented on #97
Always good to retype as copy and paste can course errors. Try this

curl -X POST -u “<username>:<password>” \
-H “Content-Type: application/json” \
-data “@<path_to_config>” \
“https://gateway.watsonplatform.net/discovery/api/v1/environments/<environment_id>/configurations?version=2016-12-01”

[2017-07-20 01:12] #93 closed

[2017-07-20 01:14] stevenpkg commented on #91
All seems good to me when I follow the advanced Discovery config setup

[2017-07-20 01:14] #91 closed

[2017-07-20 01:15] #83 closed

[2017-07-20 01:15] #76 closed

[2017-07-20 01:17] stevenpkg commented on #102
Okay great

[2017-07-20 16:08] FaySyedAli commented on #101
@stevenpkg You're right- I posed in the wrong repo. Apologies! Moving this to closed.

[2017-07-20 16:08] #101 closed

[2017-08-03 07:38] suraj1990 opened #106 "How to handle access denied due to invalid credentials error?"
I followed all the steps you asked me to. But still get a error saying access denied due to invalid credentials.
I am using a trial account for discovery and conversation.
1) I have uploaded my documents in discovery.
2) Created a conversation workspace in trail conversation service.
3) created a app, 'Liberty java' pasted the username and passwords of discovery and conversation service in
environ

[2017-08-03 20:40] vivekmalikymca opened #107 "How to add "passages=true" in query string"
How can we  add  "passages=true" in query string. so that i can show top passages in chat.

[2017-08-31 07:08] zhaosz opened #108 "Unable to process incoming event 'ProgressComplete ' (ProgressCompleteEvent)"
when type `gradlew.bat build` ,met below error:
[code]

[2017-09-19 04:05] MuhammadAshraff opened #109 "BrowserlistError when executing gradle build"
Before BrowserlistError I had a failed execution of "installGulp" but I fixed that by specifying the node version that I was using in the "build.gradle" file, I changed to version "'6.11.3", after fixing that, I get this error, any solution ?

BrowerslistError: Unknown browser query `basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")`
    at error (C:\Users\L31303\Desktop\conversation-with-disc

[2017-09-21 02:09] #109 closed

[2017-10-18 17:11] oduran1128 commented on #94
This problem seems to persist. I am able to successfully set up and connect Conversation with Discovery  and call Discovery on the Chat App as the demo describes. But when I try to connect my own Conversation workspace with Discovery I keep getting "Service seems to be down.Please try again after sometime or Please check the logs" on the Chat App. This only seems to be happening when the "Out-of-S

[2017-10-18 17:12] oduran1128 commented on #94
Here is the error on my log:
12:26:41.126 [Default Executor-thread-46] ERROR com.ibm.watson.apis.conversation_with_discovery.rest.ProxyResource - Exception on Query:null
@stevenpkg @mitchmason

[2017-10-18 17:15] oduran1128 commented on #94
@stevenpkg @mitchmason
Yesterday I was getting what is shown on the pic. It's not positive results either but at least I was able to see that Discovery was accessed:
![screenshot-2017-10-16 conversation with discovery chat app_mydata](https://user-images.githubusercontent.com/32908461/31732380-5632bf82-b406-11e7-8588-e904eb0094b7.png)

[2017-11-15 23:38] Oliver-I commented on #98
@dpowell1 Are you still experiencing this issue?

[2017-11-15 23:50] #97 closed

[2017-11-15 23:53] stevenpkg commented on #99
These are just warnings, and will not prevent the demo from running. Will look at updating in the near future

[2017-11-15 23:54] #102 closed

[2017-11-16 00:00] stevenpkg commented on #106
When you add a connection to a service, it gets generates the necessary credentials, otherwise you can remove the connection link to the service, and add the credentials under runtime>environment variables

[2017-11-16 00:04] stevenpkg commented on #107
You would have to add this parameter to the query method in DiscoveryQuery

[2017-11-16 00:06] stevenpkg commented on #108
can you please show all the output you see in the console

[2017-11-16 19:31] germanattanasio commented on #98
Closing due to inactivity

[2017-11-16 19:31] #98 closed

[2017-11-16 19:33] #107 closed

[2017-11-16 20:36] germanattanasio commented on #99
Don't worry about the warnings. They are coming from some of the libraries that we use to build the UI but they don't affect the app

[2017-11-16 20:36] #99 closed

[2017-12-01 13:49] vaishalisarswat opened #111 "how to write the messageresponse in a file from this method private MessageResponse getWatsonResponse(MessageRequest request, String id) throws Exception"

[2017-12-05 00:48] #108 closed

[2017-12-05 00:48] #106 closed

[2017-12-11 05:20] stevenpkg commented on #111
Can you please give me some more detail about what you are asking?

[2017-12-11 06:59] vaishalisarswat commented on #111
I want to write the response of the watson service in a json file that means i want to save the chat history in a json file .
i am able to write the response only for the last conversation not for the whole conversation .

[2017-12-11 18:12] germanattanasio commented on #111
@vaishalisarswat This is a feature request that we don't plan to support in this sample application.
If I was you I will extend the code to call the `/logs` endpoints which provide access to your conversations

[2018-01-22 15:58] ttlew opened #114 "Returns error when asking a discovery related question"
When customer use examples provided like:

"How do I improve fuel efficiency"
OR
How do I check my tire pressure
OR
How do I turn on cruise control
OR
How do I connect my phone to bluetooth

Return Error:

Service seems to be down.Please try again after sometime or Please check the logs.

[2018-01-22 15:59] ttlew commented on #114
@stevenpkg are you able to check this out?

[2018-01-22 17:03] mamoonraja commented on #114
@ttlew working! can you please confirm?

[2018-01-22 17:08] ttlew commented on #114
Yes! @mamoonraja Thank you.

[2018-01-22 17:08] #114 closed

[2018-02-02 19:10] iosnewbie2016 opened #116 "Build issue with conversation-4.2.1.jar"
Hi - am getting build issues when I use version 4.2.1 of the jar, for this code. The following imports are not available.

com.ibm.watson.developer_cloud.conversation.v1.ConversationService
com.ibm.watson.developer_cloud.discovery.v1.model.query.QueryResponse

But it works fine with version 3.8 of the jar. Pls guide me on which is the correct one to proceed with.  The grade build though points to

[2018-02-02 19:20] germanattanasio commented on #116
We will update this code to use the new version but in the meantime, you can use the 3.8 version.

[2018-02-02 19:20] germanattanasio commented on #116
@stevenpkg can you take a look at the issue?

[2018-02-02 19:23] mageshr2016 commented on #116
Thanks.

[2018-02-04 22:30] stevenpkg commented on #116
@germanattanasio Yes I will look into this

[2018-02-08 16:34] mageshr2016 commented on #76
I still have the same issue. Can you pls let me know which version to try to input?

[2018-02-14 00:30] #116 closed

[2018-03-06 10:07] danifitz opened #119 "Uploading conversation workspace fails"
Hi,

I'm trying to get this demo setup in my environment. When I try to upload the conversation workspace.json file, it fails complaining that the file may not be valid json. I've tried this in several instances of the conversation service.

[2018-03-06 10:40] danifitz commented on #119
I've managed to successfully import the workspace using this previous commit: https://github.com/watson-developer-cloud/conversation-with-discovery/commit/b952d80f5d2528250b2e82e36b7be966a4672016#diff-59365914f5f26bca88f0927f46d3504f

so there must be something wrong with the latest version...

[2018-03-08 02:57] germanattanasio commented on #119
Thanks a lot for filing this issue! I tried the workspace and it works if you upload it using the REST API but not if you use the tool.

@stevenpkg ☝️

[2018-03-08 03:30] stevenpkg commented on #119
Interesting I will take a look

[2018-03-08 03:36] stevenpkg commented on #119
@danifitz how are you downloading the workspace, I seem to remember an issue with just downloading the workspace by itself from github, the solution was to download the project as a zip file and get the workspace from there?

[2018-03-08 08:59] danifitz commented on #119
Hi,
I got the `workspace.json` file by cloning the repo and then when using the UI upload tool, navigating to the cloned directory on my laptop.

[2018-03-25 22:31] Oliver-I commented on #119
@danifitz The workspace.json file has been updated. Please try importing with the new workspace. If you are still having issues, rather than cloning, simply download the zip, then extract the files and import the workspace.json file from the extracted folder.

[2018-03-27 05:29] danifitz commented on #119
works now, thanks for fixing!

[2018-03-27 05:29] #119 closed

[2018-06-08 22:00] Piflyer opened #124 "Gradlew build failed"
Hi,
When I was using the script ./gradlew build, on my Raspberry Pi 3B, it came with this

`:sourcesJar

:cleanWar
:nodeSetup UP-TO-DATE
:installGulp/home/pi/assistant-with-discovery/.gradle/nodejs/node-v4.4.7-linux-x86/bin/node: 1: /home/pi/assistant-with-discovery/.gradle/nodejs/node-v4.4.7-linux-x86/bin/node: Syntax error: "(" unexpected
 FAILED

FAILURE: Build failed with an exception.

* What

[2018-06-18 00:21] Oliver-I commented on #124
@stevenpkg Can you look at this?

[2018-06-18 00:31] stevenpkg commented on #124
It looks like Gulp did not install, look at the build.gradle and check Gulp version and support for you device.

[2018-06-18 12:13] MaasMaaz opened #125 "Speech to Text +Text To Speech"
This is amazing code but,
How can i do in steps to add Speech to Text +Text To Speech for this code .

BestRegards

[2018-06-18 16:26] germanattanasio commented on #124
I think you need to have Node installed in the Raspberry PI

[2018-06-18 16:27] germanattanasio commented on #125
I would suggest you look at https://github.com/watson-developer-cloud/car-dashboard

[2018-06-18 16:27] #125 closed

[2018-06-18 22:39] Piflyer commented on #124
ok

[2018-07-10 10:18] YathendraPrasad opened #126 "401 Unauthorized when accessing watson assistant service using apikey"
I am trying to access the watson assistant service in sydney region using apikey .

My assumption is that the Swagger JSON will be same across all the regions for the watson assistant service .

So i am using the JSON from
https://watson-api-explorer.ng.bluemix.net/listings/conversation-v1.json .

As part of our product we generate adapter to access assistant service . When ever i try access servi

[2018-07-12 15:41] AlaGarali opened #127 "Response of Discovery service is not optimized"
I'm trying to build Customer Support Agent with Watson Conversation and Discovery Service and uploading FAQs documents (.docx, .pdf, .html) to Discovery service.

I would like to know, how can I have the right answer of a question asked, from documents (html, docx, pdf, ...) uploaded on discovery service ? How can I configure discovery service or discovery.query (){} to return the best answer of u

[2018-07-16 04:33] Oliver-I commented on #126
@stevenpkg Can you look into this?

[2018-07-16 04:35] Oliver-I commented on #127
@stevenpkg Can you take a look at this?

[2018-07-16 04:48] stevenpkg commented on #127
@AlaGarali your best ask developer questions at https://stackoverflow.com/questions/tagged/watson-discovery

[2018-07-16 04:54] stevenpkg commented on #126
@YathendraPrasad is this question in regards to assistant-with-discovery? If its not, then the question would best be asked here https://stackoverflow.com/questions/tagged/watson-conversation

[2018-07-16 08:15] YathendraPrasad commented on #126
I got the answer for the question i post in the wdc slack channel

[2018-07-16 08:15] #126 closed

[2018-07-17 02:24] germanattanasio commented on #127
This is a duplicate of https://github.com/watson-developer-cloud/assistant-with-discovery-openwhisk/issues/51